.container {
    margin-top: 0px;
  }
  
.card > a {
    text-decoration: none;
    color: #000000;
    border-style: solid;
    border-width: 1px;
    border-color: #A5C3A6;
    margin: 2px;
  }
  
.card >  a:hover {
  box-shadow: 2px 2px 0px #fd9a6ce5;
  transform: scale(1.00)
  }
  