<section class="container brain">
  <form novalidate [formGroup]="searchForm">

    <div class="row">

      <div class="col-3 search-container">

        <!-- start of search -->

        <div class="row">
          <div class="col">
            <div class="title">Segmentation layers</div>
            <mat-accordion>
              <mat-expansion-panel *ngFor="let group of groups | stateFilter: 'segmentation'; let i = index;" class="accordion-container">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ group.group_name }}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="collapsed-container">
                  <div *ngFor="let state of states">
                    <div class="item-checkbox" *ngIf="group.group_name == state.group_name">
                      <label>
                        <input type="checkbox" value="{{state.id}}" id="id_{{state.id}}"
                          (change)="toggleRightSide($any($event.target)?.checked, state.id)">{{state.layer_name}}
                        {{state.description}}
                      </label>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>              
            </mat-accordion>
        </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="title">Image layers</div>

            <mat-accordion>
              <mat-expansion-panel *ngFor="let group of groups | stateFilter: 'image'; let i = index;" class="accordion-container">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ group.group_name }}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="collapsed-container">
                  <div *ngFor="let state of states">
                    <div class="item-checkbox" *ngIf="group.group_name == state.group_name">
                      <label>
                        <input type="checkbox" value="{{state.id}}" id="id_{{state.id}}"
                          (change)="toggleRightSide($any($event.target)?.checked, state.id)">{{state.layer_name}}
                        {{state.description}}
                      </label>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>              
            </mat-accordion>

          </div>
        </div>

        <div class="row state-pagination">
          <div class="col">
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li class="page-item">
                  <button class="page-link" [disabled]="numberOfPages <= 10" (click)="fetchPrevious()">Previous</button>
                </li>
                <li class="page-item">
                  <button class="page-link" [disabled]="numberOfPages <= 10" (click)="fetchNext()">Next</button>
                </li>
              </ul>
            </nav>
          </div>
        </div>

      </div> <!-- end of left side -->
      <!-- start of right side list -->

      <div class="col-1"></div>

      <div class="col-8 content-container">

        <div class="title" *ngIf="selectedStates.length > 0">
          <p>Data to add to Neuroglancer</p>
        </div>

        <div class="title" *ngIf="selectedStates.length < 1">
          <p>Click on the data checkboxes on the left side of this page to add data.</p>
        </div>

        <div *ngFor="let state of selectedStates" class="card-container">


          <div class="card">
            <div class="row no-gutters">
              <div class="col-auto">
                <img src="https://brainsharer.org/images/thumbnail/{{state.group_name}}.{{state.layer_name}}.png" class="img-fluid" alt="{{state.group_name}}">
              </div>
              <div class="col">
                <div class="card-block px-2">
                  <h4 class="card-title">{{state.group_name}}</h4>
                  <p class="card-text">{{state.layer_name }}</p>
                </div>
              </div>
            </div>
            <div class="card-footer w-100 text-muted">
              {{state.lab_name }}
          </div>
          </div>
        </div>
        <div class="submit-button" *ngIf="selectedStates.length > 0">
          <button class="btn btn-primary" type="submit" (click)="onSubmit()">Submit</button>
        </div>

      </div> <!-- end of list -->



    </div> <!-- end of only row -->

  </form>
</section> <!-- end of container -->