<div class="container">
    <div *ngFor="let state of filteredStates | filter: searchByKeyword: 'name'" class="card">
        <a class="card-body card-a" target="_blank" href="{{ngUrl}}?id={{state.id}}">
            <p class="card-title">{{state.comments}}</p>
            <img src="/images/screenshot/thumbnail_{{state.id}}.png">
            <p class="card-text" style="margin-top:4px;">Lab: {{state.lab }}</p>
        </a>
    </div>
</div>

<div class="container" style="margin-top:10px;">
    <nav aria-label="Page navigation">
        <ul class="pagination state-pagination">
            <li class="page-item">
                <button class="page-link" [disabled]="numberOfPages <= 10" (click)="fetchPrevious()">Previous</button>
            </li>
            <li class="page-item">
                <button class="page-link" [disabled]="numberOfPages <= 10" (click)="fetchNext()">Next</button>
            </li>
        </ul>
    </nav>
</div>