<p>Filters</p>
<form novalidate [formGroup]="searchForm">
    <div class="btn-group search-form" data-toggle="buttons">
        <button class="btn btn-secondary" (click)="onReset()">Reset</button>
        <button class="btn btn-primary" (click)="search(searchForm.value)">Apply</button>
    </div>

    <div class="row">
        <div class="col">
            <hr/>
            <div class="title">Atlas</div>
            <div class="form-check">
                <input
                  mdbRadio
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1"
                />
                <label class="form-check-label" for="flexRadioDefault1">Princeton</label>
              </div>
              <div class="form-check">
                <input
                  mdbRadio
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1"
                />
                <label class="form-check-label" for="flexRadioDefault2">UCSD</label>
              </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="title">Data</div>
       
            <div *ngFor="let animal of animals; let i = index">
                <button class="btn btn-group" (click)="fetchData($event, i, animal)">{{animal}}</button>
                <div [id]="'collapseViewMore-' + i" [ngbCollapse]="i!==isCollapsed" class="card">
                    <div *ngFor="let state of subStates">
                        <li>{{state.layer_name}} {{state.description}}</li>
                    </div>
                    
                </div>
            </div>

            <!--
            <div *ngFor="let item of animals; let i = index">
                <button class="form-check-label" (click)="isCollapsed=i">{{item.animal_name}}</button>
                <div [id]="'collapseViewMore-' + i" [ngbCollapse]="i!==isCollapsed" class="card">
                    <div>fetch data here</div>
                </div>
            </div>
            -->


        </div>
    </div>

</form>
<hr/>
