p {
    margin: 10px;
}

.brain::before {
    content: ""; 
    z-index: -1;
    background-image: url('/assets/250.png');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
  }
  