<p>Create a Neuroglancer view by dragging data from the left to the right side of the box below.
    When you have all the data you want on the right side, click Submit to open the data in
    Neuroglancer.
</p>
<form class="my-form" #loginForm=ngForm (ngSubmit)="Submit()">

    <div class="state-container">

        <div class="state-subcontainer">
            <h4>Available data</h4>

            <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="data"
                [cdkDropListConnectedTo]="[doneList]" class="state-list" (cdkDropListDropped)="drop($event)">
                <div class="state-box" *ngFor="let item of data" cdkDrag>{{item.lab}} {{item.animal}} {{item.layer_name}} {{item.description}}</div>
            </div>

            
            <nav aria-label="Page navigation">
                <ul class="pagination state-pagination">
                  <li class="page-item"><a class="page-link" (click)="fetchPrevious()">Previous</a></li>
                  <li class="page-item"><a class="page-link" (click)="fetchNext()">Next</a></li>
                </ul>
            </nav>



        </div>

        <div class="state-subcontainer">
            <h4>Data to use in Neuroglancer</h4>

            <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="state_data"
                [cdkDropListConnectedTo]="[todoList]" class="state-list" (cdkDropListDropped)="drop($event)">
                <div class="state-box" *ngFor="let item of state_data" cdkDrag>{{item.lab}} {{item.animal}} {{item.layer_name}} {{item.description}}</div>
            </div>
        </div>
    </div>
    
    <div class="submit-button">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>