<div class="container-fluid main-page">

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #1bd889;">

        <a class="navbar-brand" href="#">Princeton/UCSD Brainsharer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link"
                        href="https://github.com/BrainSharer/neuroglancer/issues">Report
                        bug</a></li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Code</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="https://github.com/BrainSharer/database_portal">Database
                                portal</a></li>
                        <li><a class="dropdown-item" href="https://github.com/BrainSharer/neuroglancer">Neuroglancer
                                code</a></li>
                        <li><a class="dropdown-item" href="https://github.com/BrainSharer/frontend">This site</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Contact</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Documentation</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a disabled class="dropdown-item" href="#">Howto</a></li>
                        <li><a disabled class="dropdown-item" href="#">FAQ</a></li>
                    </ul>
                </li>
                <li class="nav-item" *ngIf="user">
                    <a class="nav-link" routerLink="create-view">Create view</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <div *ngIf="user" style="margin-right:10px;">
                    <p>{{user.username}}</p>
                </div>
                <div *ngIf="!user" style="margin-right:10px;">
                    <a class="btn btn-primary" routerLink="/account/login" role="button" style="margin-right:5px;">Log
                        in</a>
                    <a class="btn btn-secondary" routerLink="/account/register" role="button">Sign up</a>
                </div>
            </ul>

        </div>
    </nav>
</div>

<div class="container-fluid">
    <div class="jumbotron text-white jumbotron-image shadow"
        style="background-image: url(https://brainsharer.org/images/250.png);">
        <p>Search the database</p>

    </div>
</div>