<div class="container-fluid">
	<form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
		<div class="form-group form-spacer">
			<input placeholder="Search by brain region" id="idSearchBrainRegion" name="search_brain_region" type="text" class="form-control form-control-sm" [(ngModel)]="model" [ngbTypeahead]="search" [resultFormatter]="formatter" />
		</div>
	</form>
</div>

<div class="container">
	<div *ngFor="let state of states" class="card">
		<a class="card-body" target="_blank" href="{{ngUrl}}?id={{state.id}}">
			<h5 class="card-title">{{state.comments}}</h5>
			<p class="card-text">Lab: {{state.lab }}
				<p class="card-text">Read only: {{state.readonly }}
					<li *ngFor="let subItem of state.neuroglancer_state['layers']">{{subItem.name}}</li>
				</p>
		</a>
	</div>
</div>
