<form novalidate
[formGroup]="form">
<h3>Filters</h3>
<div class="row">
	<div class="col-md-3">
		<input type="text"
		formControlName="firstName"
		class="form-control"
		placeholder="First Name"
		/>
	</div>
	<div class="col-md-3">
		<input type="text"
		formControlName="lastName"
		class="form-control"
		placeholder="Last Name"
		/>
	</div>
	<div class="col-md-3 col-sm-3">
		<select class="form-control"
		formControlName="gender">
			<option value="">Gender</option>
			<option value="M">male</option>
			<option value="F">female</option>
		</select>
	</div>
	<div class="col-md-3 col-sm-3">
		<button class="btn btn-primary"
		(click)="search(form.value)">Search</button>
	</div>
</div>


<div class="container main-page">

	<div *ngFor="let state of data" class="card">
		<a class="card-body" target="_blank" href="{{ngUrl}}?id={{state.id}}">
			<h5 class="card-title">{{state.comments}}</h5>
			<p class="card-text">Lab: {{state.lab }}
				<p class="card-text">Read only: {{state.readonly }}
					<li *ngFor="let subItem of state.neuroglancer_state['layers']">{{subItem.name}}</li>
				</p>
		</a>
	</div>

</div>

<div class="container">            
<nav aria-label="Page navigation">
	<ul class="pagination state-pagination">
	  <li class="page-item">
		  <button class="page-link" [disabled]="numberOfPages <= 10" (click)="fetchPrevious()">Previous</button></li>
	  <li class="page-item">
		  <button class="page-link" [disabled]="numberOfPages <= 10" (click)="fetchNext()">Next</button></li>
	</ul>
</nav>
</div>