<form novalidate [formGroup]="searchForm">
    <div class="btn-group search-form" data-toggle="buttons">
        <button class="btn btn-secondary" (click)="onReset()">Reset</button>
        <button class="btn btn-primary" (click)="search(searchForm.value)">Apply</button>
    </div>

    <div class="row">
        <div class="col">
            <input type="text" formControlName="comments" class="form-control" placeholder="Search titles"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <select ngDefaultControl class="form-control" formControlName="lab">
                <option value=""> Lab</option>
                <option [ngValue]="lab" *ngFor="let lab of labs">{{lab}}</option>
            </select>
        </div>
    </div>

</form>
